<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="ISS-DB"
			providerName="to be added"
			connectionString="to be added" />
	</connectionStrings>
	<appSettings>
		<add key="Host" value="127.0.0.1" />
		<add key="Port" value="5006" />
	</appSettings>
</configuration>